.shapes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.shape__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shape__content_type_square {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.shape__content_type_circle {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
}